@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--light);
    overflow-x: hidden;
}

:root {
    --primary: #ff6b35;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --light: #f8f9fa;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.btn {
    width: 200px;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: var(--radius);
    border: 0;
}

.orange {
    background-color: var(--primary);
    color: var(--light);
    transition: .2s ease-in-out;
}

button.orange:hover {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
}

button.ghost {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: .2s ease-in-out;
}

button.ghost:hover {
    background-color: var(--primary);
    color: var(--light);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.destaque {
    color: var(--primary);
    font-weight: bolder;
    font-size: 1.4rem!important;
}
