@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #ff6b35;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --light: #f8f9fa;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: var(--radius);
    border: 0;
}

.orange {
    background-color: var(--primary);
    color: var(--light);
    transition: .2s ease-in-out;
}

button.orange:hover {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    box-shadow: var(--shadow);
    cursor: pointer;
}